In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("Washington2008-2017.xls")

In [3]:
df = df.ix[0:9, 0:10]
d = dict()
d[df.ix[2,0]] = df.ix[2, 1:10]
d[df.ix[5,0]] = df.ix[5, 1:10]
d[df.ix[7,0]] = df.ix[7, 1:10]
d[df.ix[8,0]] = df.ix[8, 1:10]

In [4]:
df = pd.DataFrame(data=d)
df.index = list(range(9))
df.index = df.index + 2008
df.rename(columns=(lambda x: x.strip()), inplace=True)

In [5]:
df1 = (df.ix[:,0:3].T / df.TOTAL).T

In [6]:
df1

,Drinking Driver-Involved,Drug Positive Driver-Involved**,Marijuana Positive Driver-Involved**
2008,0.423237,0.29668,0.153527
2009,0.472406,0.313466,0.16777
2010,0.402844,0.334123,0.184834
2011,0.389549,0.273159,0.130641
2012,0.354839,0.317618,0.153846
2013,0.371571,0.356608,0.144638
2014,0.335664,0.37296,0.202797
2015,0.308617,0.362725,0.182365
2016,0.316103,0.405567,0.208748

In [7]:
df1['Other Drug'] = df1['Drug Positive Driver-Involved**'] - df1['Marijuana Positive Driver-Involved**']

In [8]:
df1['Drinking Driver-Involved'] = (df1['Drinking Driver-Involved'] - df1['Drinking Driver-Involved'].shift(1)) / df1['Drinking Driver-Involved'].shift(1)

df1['Drug Positive Driver-Involved**'] = (df1['Drug Positive Driver-Involved**'] - df1['Drug Positive Driver-Involved**'].shift(1)) / df1['Drug Positive Driver-Involved**'].shift(1)

df1['Marijuana Positive Driver-Involved**'] = (df1['Marijuana Positive Driver-Involved**'] - df1['Marijuana Positive Driver-Involved**'].shift(1)) / df1['Marijuana Positive Driver-Involved**'].shift(1)

df1['Other Drug'] = (df1['Other Drug'] - df1['Other Drug'].shift(1)) / df1['Other Drug'].shift(1)

In [9]:
df1.to_csv("test1.csv")