In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("Washington2008-2017.xls")

In [3]:
df.head(10)

,Washington,Fatal Crashes,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Total Serious Injuries,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,...,2016,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,Target Zero Statewide Priority,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TOTAL,482.0,453.0,422.0,421.0,403.0,401.0,429.0,499.0,503.0,...,1885,2552,2646,2482,2136,2200,1914,2006,2091,2209
3,Priority One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Impaired Driver-Involved,235.0,242.0,218.0,195.0,195.0,209.0,209.0,229.0,257.0,...,290,527,570,470,479,501,412,375,367,371
5,Drinking Driver-Involved,204.0,214.0,170.0,164.0,143.0,149.0,144.0,154.0,159.0,...,330,570,635,509,510,527,447,417,422,415
6,Alcohol Impaired Driver-Involved**,149.0,169.0,135.0,121.0,114.0,117.0,103.0,97.0,121.0,...,**,**,**,**,**,**,**,**,**,**
7,Drug Positive Driver-Involved**,143.0,142.0,141.0,115.0,128.0,143.0,160.0,181.0,204.0,...,**,**,**,**,**,**,**,**,**,**
8,Marijuana Positive Driver-Involved**,74.0,76.0,78.0,55.0,62.0,58.0,87.0,91.0,105.0,...,**,**,**,**,**,**,**,**,**,**
9,Number of Impaired Drivers,250.0,250.0,229.0,200.0,200.0,221.0,217.0,237.0,265.0,...,291,**,**,**,**,**,**,**,**,**

In [4]:
df = df.ix[0:9, 0:10]
d = dict()
d[df.ix[2,0]] = df.ix[2, 1:10]
d[df.ix[5,0]] = df.ix[5, 1:10]
d[df.ix[7,0]] = df.ix[7, 1:10]
d[df.ix[8,0]] = df.ix[8, 1:10]

In [5]:
df = pd.DataFrame(data=d)
df.index = list(range(9))
df.index = df.index + 2008
df.rename(columns=(lambda x: x.strip()), inplace=True)

In [6]:
df1 = (df.ix[:,0:3].T / df.TOTAL).T

In [7]:
df1

,Drinking Driver-Involved,Drug Positive Driver-Involved**,Marijuana Positive Driver-Involved**
2008,0.423237,0.29668,0.153527
2009,0.472406,0.313466,0.16777
2010,0.402844,0.334123,0.184834
2011,0.389549,0.273159,0.130641
2012,0.354839,0.317618,0.153846
2013,0.371571,0.356608,0.144638
2014,0.335664,0.37296,0.202797
2015,0.308617,0.362725,0.182365
2016,0.316103,0.405567,0.208748

In [8]:
df1['Other Drug'] = df1['Drug Positive Driver-Involved**'] - df1['Marijuana Positive Driver-Involved**']

In [9]:
df1['Drinking Driver-Involved'] = (df1['Drinking Driver-Involved'] - df1['Drinking Driver-Involved'].shift(1)) / df1['Drinking Driver-Involved'].shift(1)

df1['Drug Positive Driver-Involved**'] = (df1['Drug Positive Driver-Involved**'] - df1['Drug Positive Driver-Involved**'].shift(1)) / df1['Drug Positive Driver-Involved**'].shift(1)

df1['Marijuana Positive Driver-Involved**'] = (df1['Marijuana Positive Driver-Involved**'] - df1['Marijuana Positive Driver-Involved**'].shift(1)) / df1['Marijuana Positive Driver-Involved**'].shift(1)

df1['Other Drug'] = (df1['Other Drug'] - df1['Other Drug'].shift(1)) / df1['Other Drug'].shift(1)

In [10]:
df1.to_csv("test1.csv")