In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("Washington2008-2017.xls")

In [3]:
df = df.ix[0:9, 0:10]
d = dict()
d[df.ix[2,0]] = df.ix[2, 1:10]
d[df.ix[5,0]] = df.ix[5, 1:10]
d[df.ix[7,0]] = df.ix[7, 1:10]
d[df.ix[8,0]] = df.ix[8, 1:10]

In [4]:
df = pd.DataFrame(data=d)
df.index = list(range(9))
df.index = df.index + 2008
df.rename(columns=(lambda x: x.strip()), inplace=True)

In [5]:
df

,Drinking Driver-Involved,Drug Positive Driver-Involved**,Marijuana Positive Driver-Involved**,TOTAL
2008,204,143,74,482
2009,214,142,76,453
2010,170,141,78,422
2011,164,115,55,421
2012,143,128,62,403
2013,149,143,58,401
2014,144,160,87,429
2015,154,181,91,499
2016,159,204,105,503

In [6]:
df = (df.ix[:,0:3].T / df.TOTAL).T

In [7]:
df['Other Drug'] = df['Drug Positive Driver-Involved**'] - df['Marijuana Positive Driver-Involved**']

In [8]:
df

,Drinking Driver-Involved,Drug Positive Driver-Involved**,Marijuana Positive Driver-Involved**,Other Drug
2008,0.423237,0.29668,0.153527,0.143154
2009,0.472406,0.313466,0.16777,0.145695
2010,0.402844,0.334123,0.184834,0.149289
2011,0.389549,0.273159,0.130641,0.142518
2012,0.354839,0.317618,0.153846,0.163772
2013,0.371571,0.356608,0.144638,0.21197
2014,0.335664,0.37296,0.202797,0.170163
2015,0.308617,0.362725,0.182365,0.180361
2016,0.316103,0.405567,0.208748,0.196819

In [9]:
df.to_csv("testing.csv")