data [link:](https://goo.gl/pULF4m)

In [1]:
import io
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv("data/real-gdp-per-capita-PWT.csv")

In [4]:
df.head()

,Entity,Code,Year,Penn World Table 9.0 (Real GDP at chained PPPs in 2011US$) (US$ (real 2005))
0,Albania,ALB,1970,3345.638184
1,Albania,ALB,1971,3398.698730
2,Albania,ALB,1972,3454.167236
3,Albania,ALB,1973,3510.072021
4,Albania,ALB,1974,3571.005859

In [5]:
df.rename(columns={'Penn World Table 9.0 (Real GDP at chained PPPs in 2011US$) (US$ (real 2005))': 'GDP'}, inplace=True)

In [6]:
df.columns.values

array(['Entity', 'Code', 'Year', 'GDP'], dtype=object)

 G7: Canada, France, Germany, Italy, Japan, the United Kingdom and the United States

In [7]:
G7 = ["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"]

In [8]:
res = list()
def helper(df, G7):
    for i in G7:
        i = df[df.Entity == i]
        i["Growth_Rate_Per_Year(%)"] = (i.GDP - i.GDP.shift(1)) / i.GDP.shift(1) * 100
        i["Growth_Rate_Per_Three_Year(%)"] = (i.GDP - i.GDP.shift(3)) / i.GDP.shift(3) * 100
        i["Growth_Rate_Per_Five_Year(%)"] = (i.GDP - i.GDP.shift(5)) / i.GDP.shift(5) * 100
        res.append(i)
helper(df, G7)

In [9]:
for i in range(0, len(G7)):
    temp = "data/" + G7[i] + "_GDP.csv"
    res[i].to_csv(temp,index=False)

In [11]:
df1 = pd.read_csv("suicide-rates-by-country.csv")
df1.head()

,Entity,Code,Year,"suicide rate (age-adjusted suicides per 100,000 people)"
0,Afghanistan,AFG,2002,6.867054
1,Afghanistan,AFG,2004,6.684385
2,Afghanistan,AFG,2005,6.684385
3,Albania,ALB,2002,2.792918
4,Albania,ALB,2004,7.699330

In [12]:
df1.rename(columns={'suicide rate (age-adjusted suicides per 100,000 people)': 'suicide rate'}, inplace=True)

In [13]:
res1 = list()
def helper1(df1, G7):
    for i in G7:
        i = df1[df1.Entity == i]
        res1.append(i)
helper1(df1, G7)

In [16]:
for i in range(0, len(G7)):
    temp = "data/" + G7[i] + "_Sucide_Rate.csv"
    res1[i].to_csv(temp,index=False)

data source: https://data.bls.gov/timeseries/LNS14000000

In [121]:
df2 = pd.read_excel("data/SeriesReport-20171102175030_2def69.xlsx")

In [122]:
df2 = df2.ix[10:]

In [123]:
df2[0:1].values[0]

array([u'Year', u'Jan', u'Feb', u'Mar', u'Apr', u'May', u'Jun', u'Jul',
       u'Aug', u'Sep', u'Oct', u'Nov', u'Dec', u'Annual'], dtype=object)

In [124]:
df2.columns = df2[0:1].values[0]

In [126]:
df2 = df2.reset_index()
df2 = df2.ix[1:,1:]
df2 = df2.reset_index()

In [127]:
df2 = df2.ix[:,1:]

In [146]:
df2.Annual = df2.ix[:,1:13].mean(axis=1)

In [148]:
df2.to_csv("data/US_UnEmployment_Rate.csv")

UK employment rate data source: https://ycharts.com/indicators/uk_unemployment_rate

In [150]:
df3 = pd.read_csv("UNRTUKA.csv")

In [155]:
df3.DATE = df3.DATE.apply(lambda x: x[0:4])

In [158]:
df3.to_csv("data/UK_UnEmployment_Rate.csv")